
 <style>.container {
    Width: 47vw;
    height: 72vh;
    padding: 0px;
}

img {
    width: 70%;
    height: 100%;
    border-radius: 4px;
    Top: 0;
    left: -3px;
    Padding: 0px;
    right: 0;
}

</style></head><body><div class="" container""><img src="" data:image/png;
base64,
" & imgVal & " ""></div></body></html>"


@media screen and (min-width:1201px) {
    #fldFieldVideo_0 {
        width: 140%;
        height: 72vh;

    }
}


#PanelSection1 {
    padding-left: 0;
    padding-right: 30%;
    direction: ltr;
    Display: hidden !important;
    width: 105% !important;
    margin: 0;
    margin-left: -15px;
    margin-top: -20px;
    padding-bottom: 20%;
}

.video-container {

    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* It can be adjusted according to the aspect ratio*/
}

.video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    /* Adjust the blur value as needed */
    z-index: -1;
}

.panel {
    padding-bottom: 20%;
    background-color: #54635b;
}

body {
    background-color: #ffffff;
    overflow: hidden;
}

.col-1 {
    width: 100%;
}

.background-btn-back {
    /*background-color: #54635b;*/
    /* border-color:#699606 !important;*/
    text-align: Left !important;
    background-color: #fade8c;
    text-decoration: center !important;
    display: flow-root;
    font-size: 20px;
    border-radius: 2px !important;
    font-family: "Andaluse";
    padding-top: 20px;
    animation: example alternate-reverse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 70px;
}

/* The animation code */
@keyframes example {
    0% {
        background-color: #f0f5f3;
    }

    50% {
        background-color: #fade8c;
    }
}

.textback {
    font-family: "Andaluse";
    background-color: #699606;
    font-size: 23px;
    font-weight: 500;
    margin-right: 2px;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    margin-left: auto;
    border-right: 1px solid;
}

#fldFieldText_0 p {
    color: #54635b;
    font-size: 35px !important;
    font-weight: 600;
    font-family: "Segoe UI", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
}

#fldFieldImage_0 {
    width: 70%;
    height: 100%;
    border-radius: 4px;
    Top: 0;
    left: -3px;
    Padding: 0px;
    right: 0;
    position: relative;
}


@keyframes t {
    from {
        width: 0;
        background-color: #f5d871;
    }

    to {
        width: 1500px;
        background-color: #b04a05;
        font-size: 45px;
    }
}

@keyframes blink {
    from {
        border-color: rgba(0, 0, 0, 0);
    }

    to {
        border-color: rgba(0, 0, 0, .5);
    }
}