@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Explora&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Dancing+Script&family=Explora&display=swap');


*{
    margin: 0;
    padding: 0;
}
.container{
   
    width: 80%;
   margin: auto;
 
}
img {
    width: 100%;
}
.header{
    
  
overflow: hidden;
text-decoration: none;
}
.h{
    background-color: white;
    position: fixed;
    width: 100%;
    padding-bottom: 30px;
}
a{
    text-decoration: none;
}

.navbar{
 background-color: white;
  
  
      padding-top: 20px;
   
   margin: auto;
   
}
@media screen and (max-width:767px){
    .navbar{
     
 height: 10px;
    }
    .navbar .logo{
        text-align: center;
        margin-bottom: 20px;
        padding: 10px 0px;
margin-right: 50px;
margin-left: -20px;

    }
  .navbar  .logo img{
        width: 30%;
        margin: auto;
        margin-left: -20px;
    }
    .links{
        text-align: center;
        margin-bottom: 40px;
    padding-bottom: 40px;
    margin-left: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
    }
    .header-content {
     float: none;
     margin: auto;
     width: 80%;
     margin-top: 40px;
     padding-top: 30%;
     text-align: center;
    }
    .header-content p  {
        
        font-size: 15px;
      
       }
       .header-content h1  {
        
        font-size: 20px;
      
       }
         
     
     }
    
  @media screen and (min-width:768px) and (max-width:1000px){
    .header-content {
     float: none;
     margin: auto;
     width: 80%;
     margin-top: 40px;
     text-align: center;
    }
    .header-content p  {
        
        font-size: 20px;
      
       }
       .header-content h1  {
        
        font-size: 30px;
      
       }

}
ul{
     list-style-type: none;
}
img {
    width: 100%;
   
}

.clrfx{
    clear: both;
}
.navbar img{
    width: 10%;
     float: left;
     margin-top: 0;
     position: absolute;



}
.navbar .link {
    width: 50%;
}
.navbar ul{
    float: right;
    margin-top: 10px;
}
.navbar li {
   
    float: left;
  
 
}
.navbar ul li a{
    margin-right: 25%;
     margin-left: 20px;
    font-size: larger;
    font-weight: 400;
    color: #595959;
}



    
    

    
  












.secabout{
    
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center bottom;
   padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;

}
.secabout h1{
    padding-top: 5%;
    font-size: 56px;
    font-family: "Alegreya";
    color: white;
}
.secabout p{
 
    font-family: "Alegreya";
    color: white;
    margin-top: 14px;
font-size: 18px;
}

img{
    width: 100%;
}




@media screen and (max-width:767px){
  .secabout{
    margin-top: 50px;
    padding-top: 90px;
  }
    
  
         
     
     }
    
  @media screen and (min-width:768px) and (max-width:1000px){
    .secabout{
        margin-top: 50px;
        padding-top: 70px;
      }
      .secabout p{
        padding-bottom: 30px;
      }
        }



.parttwo{
    padding: 40px 0px;

}
p, h1,h2,h3,h4,h5{
    font-family: "Alegreya Sans";
    font-weight: 400;
}
.parttwo img{
    padding: 15px;
width: 45%;
float: left;
box-sizing: border-box;
}

.parttwo .inform{
    margin-top: 50px;
    padding-top: 90px ;
    width: 45%;
    box-sizing: border-box;
    float: right;
    
}

.parttwo .inform p{
    padding-bottom: 40px ;
    font-size: 20px;
    color: #606060;
}
.parttwo .inform h2{
    padding-bottom: 20px ;
    font-size:32px;
    color: #303030;
}@media screen and (max-width:767px){
    .parttwo .img{
     float: none;
    
     width: 100%;
     margin-top: 40px;
     text-align: center;
    }
    .parttwo .img img {
        float: none;
        margin: auto;
        width: 100%;
        
    padding: 0px;
       }
    .parttwo .inform {
        width: 100%;
      float: none;
      padding: 0px;
       }
      
         
     
     }
     @media screen and (min-width:768px) and (max-width:1000px){
       .parttwo .img {
            float: none;
            margin: auto;
            width: 100%;
            margin-top: 40px;
            text-align: center;
           }
           .parttwo .img img {
            float: none;
            margin: auto;
            width: 100%;
            
        padding: 0px;
           }
           .parttwo .inform {
            width: 100%;
          float: none;
          padding: 0px;
           }
      
    
    }





.partthree{
    padding-top: 40px;
    
    background-color: #f8f8f8;
    padding-bottom: 60px;
}
.titlepartthree{
   text-align: center;
}
.titlepartthree i{
    color: #8e7754;
font-size: 40px;
margin-bottom: 15px;
}

.titlepartthree h3{
    font-size: 30px;
    color: #303030;
    margin-bottom: 15px;
    }

    .titlepartthree p{
        font-size: 17px;
color: #888;
margin-bottom: 25px;
    }
 
.informthreehp{
    width: 33.3%;
    float: left;
    padding: 20px;
box-sizing: border-box;
}

    .informthree h5{
        font-size: 20px;
        color: #303030;
        margin-bottom: 20px;
    }
    .informthree p{
        font-weight: 400;
color: #686868;
font-size: 18px;
    }

    @media screen and (max-width:767px){
        .titlepartthree{
          width: 100%;
        }
          .informthreehp{
            width: 100%;
            float: none;
          }
        
          .partfour .formfour{
            width: 25%;
            padding: 30px;
           }
           .partfour .formfour i ,p{
            font-size: 20px;
             }
             .partfour .formfour #n{
                font-size: 20px;
                 }
           
           }
          
        @media screen and (min-width:768px) and (max-width:1000px){
          .secabout{
              margin-top: 50px;
              padding-top: 70px;
            }
            .secabout p{
              padding-bottom: 30px;
            }
              }












.partfour{
    background-color: #8e7754;
   
}
 .formfour{
     float: left;
        width: 25%;
       
        padding: 80px;
    box-sizing: border-box;
   
    text-align: center;
    }

    .formfour i{
        color: rgba(255,255,255,0.8);
padding-bottom: 25px;
      font-size: 40px;

    }
    .formfour p{
        color: rgba(255,255,255,0.8);
        padding-bottom: 25px;
      font-size: 20px;
     
    }
#n{
    font-size: 35px;
    font-weight: 600;
}










.partfive{
    padding-top: 60px;
    background-color: #f8f8f8;
}

.informpartfive{
    width: 50%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}
.iframpartfive{
    width: 50%;
    float: left;
   padding: 30px;
   box-sizing: border-box;
}
.informpartfive h2{
    font-family: 'Alegreya', serif;
    font-size: 36px;
    color: #253048;
    margin-bottom: 10px;
}

.informpartfive p{
    color: #686868;
    font-weight: 400;
      font-family: "Alegreya Sans";
  font-size: 18px;
  line-height: 1.86em;
  margin-bottom: 40px;
}

.informpartfive li i{
    
        padding: 10px 10px;
        background-color: #8e7754 ;
        border-radius: 100%;
        color: #ffffff;
        margin-bottom: 5px;
        font-size: 16px;
        margin-right: 10px;
    width: 15px;
}
.informpartfive li span{
    color: #686868;
    font-weight: 400;
      font-family: "Alegreya Sans";
  font-size: 18px;
}







.footer-main{

background-color: #403d38;
padding-bottom: 25%;
}
.title h4{
    margin-top: 30px;
    margin-bottom: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Alegreya";
}
#ii{
    float: left;
}
.s{
   
 margin-left: 10px;
 margin-top: 0px;

}
#a{
  
    padding-bottom: 0px;
}
.textwidget{
    width: 25%;
    float: left;
  padding: 20px;
  box-sizing: border-box;
}
.textwidget p{
    color: #969696;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Alegreya Sans";
}
.textwidget li{
    color: #969696;
    font-size: 16px;
    font-weight: 300;
    font-family: "Alegreya Sans";
    border-bottom: 1px solid rgba(255,255,255,0.05);
    margin-bottom: 10px;
padding-bottom: 12px;
}
.textwidget i{
    color: #969696;
font-size: 16px;
    font-weight: 400;
    display: inline-block;
   
    margin-bottom: 10px;
margin-right: 10px;
}

.textwidget span ,a{
    color: #969696;
  
      
}




.bar{
    position:fixed;
right: 0;
top: 200px;
height: 86px;
width: 42px;
background: #fff;
border-radius: 4px 0 0 4px;
box-shadow: 0 -1px 17px 1px rgba(0,0,0,.09);
text-align: center;
line-height: 42px;
font-size: 22px;
z-index: 3;
}
.bar i{
    color: #666;
}




.footer-bottom{
    padding-bottom: 1%;
    background-color: #353330;
}
.footer-image {
    width: 25%;
    
    margin: auto;
    padding: 30px;
}
#pfooter{
border-bottom-style: none;
}

.footer-bottom{
    text-align: center;
}
.footer-bottom .copyright {
    font-size: 15px;
    color: #777;
   
  }
  .social-icons i{text-align: center;
    margin-top: 20px;
    padding: 15px 15px;
border-radius: 100%;
background-color: #484540;
width: 20px;
font-size: 20px;

  }
  .footer ul{
    list-style-type: " >    ";
}
.ulnone ul{
    list-style-type: none;
}@media screen and (max-width:800px){
    .footer-main {
     float: none;
    height: 190vh;
     width: 100%;
    
 
    }
    .textwidget  {
        width: 100%;
       
      
       }
      
      
         
     
     }
     @media screen and (min-width:768px) and (max-width:1000px){
        .footer-main {
            float: none;
            margin: auto;
            width: 100%;
            margin-top: 40px;
           height: 55vh;
           }
           .textwidget{
            width: 50%;
           }
           .footer-bottom {
            float: none;
            margin: auto;
            width: 100%;
            
        padding: 0px;
           }
      
           .partfour{
            margin-bottom: -40px;
           }
           .partfour .formfour{
            width: 15%;
            padding-right: 10%;
            
            float: left;
           }
    
    }
    