@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Explora&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Dancing+Script&family=Explora&display=swap');


*{
    margin: 0;
    padding: 0;
}
.container{
   
    width: 80%;
   margin: auto;

 
}
img {
    width: 100%;
}
.header{
    
  
overflow: hidden;
text-decoration: none;
}
.h{
    background-color: white;
    position: fixed;
    width: 100%;
    padding-bottom: 30px;
}
a{
    text-decoration: none;
}

.navbar{
 background-color: white;
  
  
      padding-top: 20px;
   
   margin: auto;
   
}

ul{
     list-style-type: none;
}
img {
    width: 100%;
   
}

.clrfx{
    clear: both;
}
.navbar img{
    width: 10%;
     float: left;
     margin-top: 0;
     position: absolute;



}
.navbar .link {
    width: 50%;
}
.navbar ul{
    float: right;
    margin-top: 10px;
}
.navbar li {
   
    float: left;
  
 
}
@media screen and (max-width:767px){
    .header .navbar{
        height: 1px;
        padding-bottom: -30px;
    }
    .navbar .logo{
        text-align: center;
        margin-bottom: 20px;
        padding: 10px 0px;
margin-right: 50px;
margin-left: -20px;
    }
    .navbar  .logo img{
        width: 30%;
        margin: auto;
        margin-left: -20px;
    }
   .navbar .links{
        text-align: center;
        margin-bottom: 5px;
    padding-bottom: 1px;
    margin-left: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
    }
    .header-content {
     float: none;
     margin: auto;
     width: 80%;
     margin-top: 40px;
     padding-top: 30%;
     text-align: center;
    }
    .header-content p  {
        
        font-size: 15px;
      
       }
       .header-content h1  {
        
        font-size: 20px;
      
       }
         
     
     }
    
  @media screen and (min-width:768px) and (max-width:1000px){
    .header-content {
     float: none;
     margin: auto;
     width: 80%;
     margin-top: 40px;
     text-align: center;
    }
    .header-content p  {
        
        font-size: 20px;
      
       }
       .header-content h1  {
        
        font-size: 30px;
      
       }

}
.navbar ul li a{
    margin-right: 25%;
     margin-left: 20px;
    font-size: larger;
    font-weight: 400;
    color: #595959;
}





@media screen and (max-width:767px){
  
    .parttwo .page-title {
        margin-top: 40px;
        padding-top: 100px;
        width: 100%;
      text-align: center;
     }
     .parttwo .page-title h1 {
  margin: auto;
  margin-bottom: -30px;
font-size: 30px;
       
     }
    
     .partthree .one{
        width: 100%;
        float: none;
        margin: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-align: center;
        padding: 0px;
      }
      
      .partthree .onee{
        width: 100%;
        float: left;
        
        margin-top: 20px;
        margin-bottom: 20px;
       padding: 0px;
       margin-left: -30px;
      }
       
       }
      
    @media screen and (min-width:768px) and (max-width:1000px){
      .parttwo{
          margin-top: 50px;
          padding-top: 70px;
        }
        .parttwo p{
          padding-bottom: 30px;
        }
          
    
        .partthree .one{
            width: 75%;
          
          }
          
          .partthree .onee{
            width: 45%;
            float: right;
        
          }
    }

.page-title{
  float: left;
 
}
.page-title h1{
    font-family: "Alegreya";
    font-size: 36px;
    color: #303030;
line-height: 1.38em;
font-weight: 400;
margin-top: 30px;
}

.parttwo{
    
    background-color: #f8f8f8;
    margin-top:5% ;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 90px;
    text-align: center;


}
.parttwo .container{
    width: 78%;
}
.parttwo h1{
    padding-top: 5%;
    font-size: 46px;
    font-family: "Alegreya";
    color: #303030;
}
.parttwo p{
 
    font-family: "Alegreya";
    color: #666666;
    margin-top: 14px;
font-size: 18px;
}
.breadcrumbs-holder {
float: right;

margin-top: 50px;
}
.parttwo ul li{
   display:inline-block;
}


.parttwo ul li a,p{
    color: #515151;
    text-decoration: none;
    font-size: 18px;
    font-family: "Alegreya Sans";
    font-weight: 250;
    
 }
 #pp{
    font-size: 15px;
    font-family: "Alegreya Sans";
    color: rgb(169, 166, 161);
    font-weight: 400;
 }







.partthree{
    margin-bottom: 50px;
}

 .onee{
   width: 25%;
   padding:  17px;
    float: left;
    box-sizing: border-box;
 
 }
.oneco
{
    padding: 17px 17px 17px -35px ;
}
 .cbp-item-wrapper{
    width: 70%;
    border-top: 1.5px solid  #e6e6e6;
    float: left;
}
 .search-button{
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1.5px solid  #e6e6e6;
 }
 input{
    width: 100%;
    font-weight: normal;
    padding: 12px 0px;
    padding-right: 70px;
    font-size: 12px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 15px;
}
 .post-info{
    padding: 20px;
    box-sizing: border-box;
     border: 2px solid #efefef;
     border-top:none ;
 }
 .post-info h4 a{
    color: #303030;
    font-size: 20px;
    font-weight: 400;
   
 }
 .post-info h4{
     margin-bottom: 15px;
 }
 .post-info p{
    color: #aaa;
    margin-top: 6px;
margin-bottom: 10px;
box-sizing: border-box;
font-size: 13px;
 }
 .post-content{margin: 15px 0px; }
 .post-content  p{
    font-weight: 400;
color: #686868;
font-size: 17px;
}
.post-content  a{
    font-weight: 400;
color: #686868;
font-size: 14px;
}
 h1,h2,h3,h4,h5,p{
    font-family: "Alegreya";
 }
 .widget{
    border-bottom: 1.5px solid  #e6e6e6;
 }
 .imgg img{
    height: 250px;
 }
 .imgone img{
    height: 330px;
 }
.widget h5{
    margin-bottom: 20px;
margin-top: 20px;
font-size: 17px;
font-family: "Alegreya";
color: #303030;
line-height: 1.38em;
font-weight: 500;
}
#ii{
    
    color: #666;
font-size: 14px;
}
.widget ul{
    list-style-type:">   ";
    
    color: #828282;
    margin-left: 20px;
}
.widget li{
 
   margin-bottom: 30px;
}
#meta-2{
    border-bottom-style: none ;
}

.contone{
    margin-bottom: 30px;
}

.oneright{
    width: 70%;
    margin-left: 30px;
}
.contf{
    background-color: #8e7754;
    padding: 20px;
    box-sizing: border-box;
}
.contf p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}
.contf i{
    float: right;
    color: rgb(212, 210, 210);
}
.contf span{
    font-size: 15px;
margin-top: 20px;
box-sizing: border-box;
color: #fff;
}
.posttt-title{
    border: 1.5px solid  #e6e6e6;
    padding: 20px;
    box-sizing: border-box;
}
.posttt-title h4{
    margin-bottom: 15px;
}
.posttt-title h4 a{
    color: #303030;
font-size: 20px;
font-weight: 400;
}
.post-excerpt p{
    font-weight: 400;
color: #686868;
font-size: 17px;
}
#pppp{
    color: #aaa;
margin-top: 6px;
margin-bottom: 10px;
box-sizing: border-box;
font-size: 13px;
}
.post-content p{
    margin-bottom: 26px;
}







 

.footer-main{

    background-color: #403d38;
    padding-bottom: 25%;
    }
     .title h4{
        margin-top: 30px;
        margin-bottom: 25px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        font-family: "Alegreya";
    }

    .footer ul{
        list-style-type: " >    ";
    }
    .ulnone ul{
        list-style-type: none;
    }
    .textwidget{
        width: 25%;
        float: left;
      padding: 20px;
      box-sizing: border-box;
    }
    .textwidget p{
        color: #969696;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 300;
        font-family: "Alegreya Sans";
    }
    .textwidget li{
        color: #969696;
        font-size: 16px;
        font-weight: 300;
        font-family: "Alegreya Sans";
        border-bottom: 1px solid rgba(255,255,255,0.05);
        margin-bottom: 10px;
    padding-bottom: 12px;
    }
    .textwidget i{
        color: #969696;
    font-size: 16px;
        font-weight: 400;
        display: inline-block;
       
        margin-bottom: 10px;
    margin-right: 10px;
    }
    
    .textwidget span ,a{
        color: #969696;
      
          
    }
    #ii{
        float: left;
    }
    .s{
       
     margin-left: 10px;
     margin-top: 0px;
    
    }
    #a{
      
        padding-bottom: 0px;
    }
    
    
    
    .bar{
        position:fixed;
    right: 0;
    top: 200px;
    height: 86px;
    width: 42px;
    background: #fff;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 -1px 17px 1px rgba(0,0,0,.09);
    text-align: center;
    line-height: 42px;
    font-size: 22px;
    z-index: 3;
    }
    .bar i{
        color: #666;
    }
    
    
    
    
    .footer-bottom{
        padding-bottom: 1%;
        background-color: #353330;
    }
    .footer-image {
        width: 25%;
        
        margin: auto;
        padding: 30px;
    }
    #pfooter{
    border-bottom-style: none;
    }
    
    .footer-bottom{
        text-align: center;
    }
    .footer-bottom .copyright {
        font-size: 15px;
        color: #777;
       
      }
      .social-icons i{text-align: center;
        margin-top: 20px;
        padding: 15px 15px;
    border-radius: 100%;
    background-color: #484540;
    width: 20px;
    font-size: 20px;
    
      }@media screen and (max-width:800px){
        .footer-main {
         float: none;
        height: 190vh;
         width: 100%;
        
     
        }
        .textwidget  {
            width: 100%;
           
          
           }
         
          
             
         
         }
         @media screen and (min-width:768px) and (max-width:1000px){
            .footer-main {
                float: none;
                margin: auto;
                width: 100%;
                margin-top: 40px;
               height: 55vh;
               }
               .textwidget{
                width: 50%;
               }
               .footer-bottom {
                float: none;
                margin: auto;
                width: 100%;
                
            padding: 0px;
               }
          
          
        
        }